body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,img,ol,li{margin:0;padding:0}
body{font:16px "微软雅黑","Arial Narrow",HELVETICA;background:#fff;}
a{color:#172c45;text-decoration:none}  
em,i{font-style:normal}
li{list-style:none;}
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.ind{text-indent:2em} 
.ind10{text-indent:10px;}
.noborder{border:0;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;font-size:0px;}/*  解决高度塌陷，公用 */