*{margin: 0;padding: 0;}
.hungBar{
	width: 38px;
	height: 164px;
	color: #3a3a3a;
	font-size: 12px;
	position: fixed;
	bottom: 50px;
	right: 0;
	z-index: 111;
}
.hungBar a {
	width: 38px;
	height: 41px;
	display: block;
	text-decoration: none;
}
.hungBar a i{
	font-style: normal;
	width: 76px;
	height: 30px;
	display: none;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #3a3a3a;
	border-radius: 10px;
	background: white;
	box-shadow: 1px 1px 15px 5px #EEEEEE;
}
.hungBar a:hover i{
	display: block;
}